django
psycopg2-binary
djangorestframework
python-dotenv
pillow
Faker
django-filter
djangorestframework-simplejwt
coverage
drf-yasg
django-cors-headers
requests
stripe
celery
eventlet
redis-server
django-celery-beat